<% layout("layouts/boilerplate")%>


<body>
    <!-- <h3>all listing</h3> -->

    <style>
      #filters{
        display: flex;
        flex-wrap:wrap ;
        align-items: center;
      }
      .filter{
        margin-right: 1.8rem;
        text-align: center;
        margin-top: 2rem;
        opacity: 0.7;

      }
      .filter:hover{
        opacity: 2;
        cursor: pointer;
      }

      .filter p{
        font-size: 0.9rem;
      }

      .tax-info{
        display: none;
      }

      .tax-switch{
        /* border: 1px solid black; */
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
        margin-left: 23rem;
        /* right: 0; */
        display: flex;
        align-items: center;
        background-color: #f95560;
        color: white;
      
      }
    </style>
     <div id="filters">
      <div class="filter">
        <a href="/listings">
       <div><i class="fa-solid fa-fire"></i></div> 
       <p>All</p> 
       </a>

      </div>
      <div class="filter">
        <a href="/listings/category/village">
       <div><i class="fa-solid fa-bed"></i></div> 
       <p>Village</p> 
       </a>

      </div>
      
      <div class="filter">
        <a href="/listings/category/mountain">
       <div><i class="fa-solid fa-mountain"></i></div> 
       <p>Mountain</p> 
       </a>

      </div>
      <div class="filter">
        <a href="/listings/category/beach">
       <div><i class="fa-solid fa-mountain"></i></div> 
       <p>Beach</p> 
       </a>

      </div>
      
      <div class="filter">
        <a href="/listings/category/castles">
       <div><i class="fa-brands fa-fort-awesome"></i></div> 
       <p>Castles</p> 
       </a>

      </div>
      
      <div class="filter">
        <a href="/listings/category/camping">
       <div><i class="fa-solid fa-campground"></i></div> 
       <p>Camping</p> 
       </a>

      </div>
      <div class="filter">
        <a href="/listings/category/farms">
       <div><i class="fa-solid fa-cow"></i></div> 
       <p>Farms</p> 
       </a>

      </div>
     
      <div class="tax-switch ">
        <div class="form-check-reverse form-switch ">
          <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Include tax</label>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
        <% for(let listing of alllistings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
   
            <div class="card  col listing-card  animation" >
                <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="...">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <%= listing.title%> <br/>
                    &#8377; 
                      
                 <span class="price" data-price="<%= listing.price %>">
                      <%= listing.price.toLocaleString("en-in") %>
                    </span> /night
                
                <i class="tax-info">&nbsp; &nbsp; 18% GST</i>
                  </p>
                </div>
              </div>
              <% }%>
            </a>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
    integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="/js/animation.js"></script>
    <script>
     
        
  const taxToggle = document.getElementById("flexSwitchCheckDefault");

  taxToggle.addEventListener("change", () => {
    const priceSpans = document.querySelectorAll(".price");
    const taxInfos = document.querySelectorAll(".tax-info");

    priceSpans.forEach((span, index) => {
      const basePrice = parseFloat(span.dataset.price);
      const finalPrice = taxToggle.checked
        ? Math.round(basePrice * 1.18)
        : basePrice;

      // Update displayed price
      span.innerText = finalPrice.toLocaleString("en-IN");

     // Toggle "+18% GST" text
if (taxToggle.checked) {
  taxInfos[index].classList.remove("d-none");
  taxInfos[index].classList.add("d-inline");
} else {
  taxInfos[index].classList.remove("d-inline");
  taxInfos[index].classList.add("d-none");
}

    });
  });
      
      </script>

    
</body>
