<% layout("layouts/boilerplate")%>


<body>
    <!-- <h3>all listing</h3> -->

    <style>
      body{
        /* background-color: black; */
      }
      #filters{
        display: flex;
        flex-wrap:wrap ;
        align-items: center;
      }
      .filter{
        margin-right: 1.8rem;
        text-align: center;
        margin-top: 2rem;
        opacity: 0.7;

      }
      .filter:hover{
        opacity: 2;
        cursor: pointer;
      }

      .filter p{
        font-size: 0.9rem;
        color:black

      }

      .filter a{
        text-decoration: none;

      }

      .tax-info{
        display: none;
      }

      .tax-switch{
        /* border: 1px solid black; */
        border-radius: 1rem;
        color: #fff;
        height: 3rem;
        padding: 1rem;
        margin-left: 5rem;
        display: flex;
        align-items: center;
        background-color: #f44b59;
      }
    </style>

     <div id="filters">
      <div class="filter">
       <div><i class="fa-solid fa-fire"></i></div> 
      <a href="/listings/Trending"> <p>Trending</p> </a>

      </div>
      <div class="filter">
       <div><i class="fa-solid fa-bed"></i></div> 
       <a href="/listings/Rooms"> <p>Rooms</p> </a> 

      </div>
      <div class="filter">
       <div><i class="fa-solid fa-city"></i></div> 
       <a href="/listings/Iconic cities"> <p>Iconic cities</p>  </a> 

      </div>
      <div class="filter">
       <div><i class="fa-solid fa-mountain"></i></div> 
       <a href="/listings/Mountains">  <p>Mountains</p>   </a> 
      

      </div>
      <div class="filter">
       <div><i class="fa-brands fa-fort-awesome"></i></div> 
       <a href="/listings/Castles">   <p>Castles</p>   </a> 
     

      </div>
      <div class="filter">
       <div><i class="fa-solid fa-person-swimming"></i></div> 
       <a href="/listings/Amezing Pool">     <p>Amezing Pool</p>    </a> 
     

      </div>
      <div class="filter">
       <div><i class="fa-solid fa-campground"></i></div> 
       <a href="/listings/Camping">    <p>Camping</p>   </a> 
      

      </div>
      <div class="filter">
       <div><i class="fa-solid fa-cow"></i></div> 
       <a href="/listings/Farms">      <p>Farms</p>   </a> 
    

      </div>
      <div class="filter">
       <div><i class="fa-regular fa-snowflake"></i></div> 
       <a href="/listings/Arctic">    <p>Arctic</p>    </a> 
      

      </div>
      <div class="tax-switch">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Include tax</label>
        </div>
      </div>
     </div>
     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
       <% for(let listing of alllistings){ %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
   
            <div class="card  col listing-card" >
                <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="...">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <%= listing.title%> <br/>
                    ₹ <span class="price" data-price="<%= listing.price %>">
                      <%= listing.price.toLocaleString("en-in") %>
                    </span> /night
                <i class="tax-info">&nbsp; &nbsp; 18% GST</i>
                  </p>
                </div>
              </div>
              <% }%>
            </a>
            </div>
    

    <script>
     

        
  const taxToggle = document.getElementById("flexSwitchCheckDefault");

  taxToggle.addEventListener("change", () => {
    const priceSpans = document.querySelectorAll(".price");
    const taxInfos = document.querySelectorAll(".tax-info");

    priceSpans.forEach((span, index) => {
      const basePrice = parseFloat(span.dataset.price);
      const finalPrice = taxToggle.checked
        ? Math.round(basePrice * 1.18)
        : basePrice;

      // Update displayed price
      span.innerText = finalPrice.toLocaleString("en-IN");

     // Toggle "+18% GST" text
if (taxToggle.checked) {
  taxInfos[index].classList.remove("d-none");
  taxInfos[index].classList.add("d-inline");
} else {
  taxInfos[index].classList.remove("d-inline");
  taxInfos[index].classList.add("d-none");
}

    });
  });

      
      </script>

    
</body>
